# GenAI Frameworks
langchain==0.3.4
langchain-groq==0.2.1
langchain-community==0.3.3

python-dotenv==1.0.1
sse-starlette==2.1.3

# Backend - RestAPI
uvicorn==0.32.1
fastapi==0.115.5
langserve==0.3.0
python-multipart==0.0.17
# joblib==1.4.2
httpx==0.27.2

streamlit==1.40.2